.board .cell{
    display: inline-block;
    background: #fff;
    height: 33%;
    width: 31%;
    outline: none;
    border: none;
    margin: 1%;
    font-size: 4rem;
    color: rgba(0,0,0,0.7);
    padding: 0;
}

